*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Abel, Verdana, sans-serif;
  font-size: 30px;
}

.container {
  display: flex;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px 3px grey;
}

.container > div {
  padding: 0px;
  max-width: 100%;
  height: auto;
  flex: auto;
}

#chs_logo {
  max-width: 100%;
  height: auto;
  background-image: url('./logo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

#title {
  text-align:left;
  padding-top:30px;
  padding-bottom:5px;
  padding-left:30px;
}

.wrapper {
    width:100%;
    position:fixed;
    z-index:10;
    background:inherit;
}

.bottom-wrapper {
    width:100%;
    padding-top:92px;
    z-index:5;
    overflow:auto;
}

.container2 {
  display: flex;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.container2 > div {
  max-width: 50%;
  height: auto;
  flex: auto;
}

a:link {
  color: #2772db;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #3ab1c8;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #070f4e;
  font-size:16px;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #2772db;
  text-decoration: none;
}
