<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="author" content="Beth Culler">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Oracle DB Summary </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div id="chs_logo">
        </div>
        <div id="title">
          <h2> Oracle Database Summary </h2>
        </div>
      </div>
    </div>
    <div id="container1">
      <div id="sidenav">
        <div id="stickynav">
          <ul>
            <li><a href="********">Homepage - RDBMS Dashboard Summaries </a></li>
            <li><a href="/Oracle"><strong>Oracle Database Summary</strong></a></li>
            <li><a href="********" target="_blank" rel="noopener noreferrer">Current DB Performance Status</a></li>
            <li><a href="********" target="_blank" rel="noopener noreferrer">Oracle WIKI</a></li>
            <li><a href="********" target="_blank" rel="noopener noreferrer">Oracle Engineering Standards</a></li>
            <li><a href="********" target="_blank" rel="noopener noreferrer">Oracle Dashboard README</a></li>
          </ul>
        </div>
      </div>
      <div class="bottom-wrapper">
        <div id="main">
          <a href="{{ url_for('.please_wait', dbname=dbname) }}"><button class="btn">&laquo; Back to {{dbname}} </button></a>
          <p style="padding:5px; padding-bottom:6px; padding-top:2%; text-indent:60px; font-size:25px" id="top"> {{dbname}}: {{tb}} Historical Growth Trends </p>
          <h5> {{tb}} Size <br>(60 Day Window) </h5>
          <img src= "/static/{{dbname}}_{{tb}}_60day.jpg" alt="{{tb}} 60 DAY GROWTH TREND LINE GRAPH" class="grph">
          <h5> {{tb}} Size <br>(90 Day Window) </h5>
          <img src= "/static/{{dbname}}_{{tb}}_90day.jpg" alt="{{tb}} 90 DAY GROWTH TREND LINE GRAPH" class="grph">
        </div>
      </div>
    </div>
  </body>
</html>
